

/*Common css*/
body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
/*header start*/
.wrapper {
    width:  90% ;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.logo {
    width: 10%;
    float: left;
}
.logo img{
    width: 100%;
}

.menu {
    width: 50%;
    float: right;
   
}
.menu ul{
    float: right;
    list-style: none;
}
.menu ul li{
    float: left;
    padding: 0 43px;
    margin-right: 2px;
}
.menu ul li:last-child{
    margin-right: 0;
    padding-right: 0;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-weight: 400;
    font-family: "Playfair Display";
    text-align: center;
    transform: 0.5s;

}
.menu ul li a:hover{
    color:  #343232;
}
/*header end*/

/*banner start*/

.banner{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}
.banner_imagr{
   
}
.banner_image img{
    width: 100%;
}
/*banner end*/

/*article start*/
article{
    
}
.banner {
    padding: 100px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}
.container p{
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 300;
    color: #b4ad9e;
    
    
}
.container h2{
    font-size: 30px;
    color: #626262;
    font-weight: 400;
    
}

.container h4{
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-weight: 400;
}
/*article end*/
/*galary start*/


.wrapper_2{
    overflow: hidden;
    border: 1px solid red;
}
.galary{
    width: 42%;
    padding: 20px 0;
    float: left; 
}
.galary:nth-child(even){
    margin-left: 16%;
}

.img{
    width: 100%
}
.img img{
    width: 100%;
}
.galary h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    font-weight: 300;
    font-family: "Ubuntu";
}
.galary h2{
    font-size: 30px;
    color: #626262;
    font-weight: 400;
}
.galary p{
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-weight: 400;
}


/*galary end*/
/*newsleter start*/

.newsletter{
    background-color: #f0f0f0 ;
    padding: 70px 0;
}

.signup{
    text-align: center;
}
.s_h1{
    color: #333333;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}
.s_form{
    position: relative;
    width: 380px;
    border: none;
    border-bottom: 1px solid #626262;
    margin: 0 auto;
}
.s_form input{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    width: 300px;
    height: 45px;
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 80px;
}
.s_form input:focus{
    outline: none;
}
.s_form button{
    position: absolute;
    top: 15px;
    right: 0;
    background-color: transparent;
    border: none;
    cursor:  pointer;
}
.s_form button img{
    
}



/*newsleter end*/



/*button start*/
.button{
    
}
.button_div{
    text-align: center;
    padding: 100px 0;
}
.btn{
    border: none;
    padding: 15px 27px;
    font-family: "Playfair Display" serif;
    color: #343232;
    background-color: transparent;
    border: 1px solid #b4ad9e;
    border-radius: 0;
    cursor: pointer;
    
}
/*button end*/

/*footer start*/

.footer{
    background-color: #f0f0f0;
}
.text{
    width: 30%;
    float: left;
}
.text ul{
    list-style: none;
}
.text ul li{
    float: left;
    margin-right: 30px;
}
.text ul li a{
    text-decoration: none;
    color: #000000;;
}
.logoitem{
    width: 65%;
    float: right;
}
.logoitem ul{
    float: right;
    list-style: none;
}
.logoitem ul li{
    float: left;
    padding: 0 10px;
}
/*footer end*/